@charset "UTF-8";
* {
  box-sizing: border-box;
}

/* pour appliquer à tout le code css le box sizing*/
a:link {
  text-decoration: none;
  color: black;
}

/*les liens ne sont pas bleu soulignés, valable pour tous les liens de la page */
a:visited {
  color: black;
}

/* sinon les liens cliqués deviennent violets une fois cliqués */
body {
  position: absolute;
  left: 0;
  right: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

main {
  margin-left: 0;
  margin-right: 0;
}

@media screen and (min-width: 480px) {
  body {
    margin-left: 6%;
    margin-right: 6%;
    border: 3px solid #f2f2f2;
  }
}
@media screen and (min-width: 800px) {
  body {
    margin-left: 12%;
    margin-right: 12%;
    border: 3px solid #f2f2f2;
  }
}
@media screen and (min-width: 1400px) {
  body {
    margin-left: 18%;
    margin-right: 18%;
    border: 3px solid #f2f2f2;
  }
}
.loader-container {
  position: absolute;
  display: flex;
  background-color: white;
  z-index: 1;
  height: 100%;
  width: 100%;
  animation: opacityanimation 3s;
  animation-fill-mode: forwards;
}

.loader {
  display: flex;
  position: relative;
  width: 300px;
  height: 300px;
  top: 10%;
  left: calc(50% - 150px);
  align-items: center;
  justify-content: center;
}

.loader-text {
  display: flex;
  font-family: shrikhand;
  position: relative;
  font-size: 40px;
}

.loader-circles {
  border-radius: 50%;
  /*permet de créer un cercle parfait*/
  border: 3px solid transparent;
  border-color: #e8d5e3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 0s linear infinite;
}
.loader-circles::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 5px;
  right: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ff79da;
  opacity: 0.8;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
.loader-circles::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #99e2d0;
  opacity: 0.5;
  -webkit-animation: spin 2.5s linear infinite;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes opacityanimation {
  0% {
    opacity: 1;
    z-index: 1;
  }
  70% {
    opacity: 1;
  }
  99% {
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.heart {
  display: flex;
  padding-right: 30px;
  padding-bottom: 30px;
}

.heart .far {
  display: flex;
  font-size: 30px;
  position: absolute;
  opacity: 1;
  color: #44464a;
  display: flex;
  transition: opacity 500ms;
  background: transparent;
}

.heart .fas {
  display: flex;
  font-size: 30px;
  position: absolute;
  opacity: 0;
  transition: opacity 500ms;
  background: linear-gradient(#ff79da, #9356dc);
  /*pour obtenir un dégradé de couleurs dans le coeur*/
  background-clip: text;
  /*le background s'affiche à travers le texte (ici l'icône coeur) et pas ailleurs*/
  -webkit-background-clip: text;
  /*pour que cela fonctionne sur les navigateurs tels que chrome et safari*/
  color: transparent;
}

.heart:hover .far {
  opacity: 0;
  transition: 1s;
}

.heart:hover .fas {
  opacity: 1;
  transition: 1s;
}

button {
  display: flex;
  border-style: none;
  color: white;
  box-shadow: 0 0 10px grey;
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 30px;
  height: 50px;
  width: 210px;
  font-size: 15px;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  transition: all 400ms;
}
button:hover {
  /*au survol de la souris*/
  transform: scale(1.1);
  /*le bouton grossit de 10% */
  background: linear-gradient(#ff93e1, #a16be0);
  /*pour éclaircir la couleur de fond du bouton*/
  box-shadow: 0 0 10px #4d4d4d;
  /*ombre portée sous le bouton + visible*/
  cursor: pointer;
}

.logo {
  display: grid;
  font-family: Shrikhand;
  font-size: 35px;
  grid-template-columns: calc(50% - 94.5px) 70%;
  /*2 columns la largeur de la premiere fait que ohmyfood est centré*/
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "fas  logo__text ";
  padding-top: 15px;
  padding-bottom: 10px;
}

.localization {
  font-weight: bold;
  color: #44464a;
  width: 100%;
  background-color: #e9e9e9;
  box-shadow: inset 0 3px 8px #a7a7a7;
  /*pour l'ombre à l'intérieur de la boite*/
  text-align: center;
}
.localization i {
  padding-right: 20px;
}
.localization p {
  padding-left: 25px;
}

.first-section {
  display: flex;
  flex-direction: column;
  height: 340px;
  align-items: center;
  background-color: #f2f2f2;
}
@media screen and (min-width: 590px) {
  .first-section {
    height: 290px;
  }
}
.first-section h1 {
  padding-top: 30px;
  display: flex;
  width: 70%;
  font-size: 25px;
  justify-content: center;
  text-align: center;
}
.first-section .discover {
  display: flex;
  width: 85%;
  /*comme la largeur des filters-title */
  margin-top: 5px;
  margin-bottom: 25px;
  justify-content: space-around;
  text-align: center;
}

.filters {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 10px;
  margin-top: 30px;
  margin-bottom: 45px;
  align-items: center;
  font-weight: bolder;
  /*même largeur que les filters__title*/
}
.filters h2 {
  font-size: 25px;
  width: 85%;
}
.filters p {
  width: 85%;
}

.filter__title {
  display: flex;
  box-shadow: 0 0 10px grey;
  /*bordure shadow gris plus foncé*/
  height: 55px;
  border-radius: 15px;
  width: 85%;
  align-items: center;
  /*aligné sur axe horizontal*/
  padding-left: 0px;
  padding-right: 20px;
  margin-bottom: 10px;
  /*utile au moment du wrapping pour ne pas se coller sur phone */
  font-size: 13px;
  font-weight: bold;
  background-color: #f2f2f2;
  transition: all 600ms;
}
.filter__title__number {
  display: flex;
  position: relative;
  right: 15px;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  background-color: #9356dc;
}
.filter__title i {
  display: flex;
  color: #44464a;
  font-size: 20px;
  object-fit: fill;
  /*au lieu de choisir font-size*/
  left: -10px;
  height: 70px;
  width: 70px;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  /*texte pas collé au cercle à gauche du texte*/
}
.filter__title:hover {
  background-color: #e8d5e3;
  /*à changer en pale primary avec function dans variables*/
  box-shadow: 0 0 10px #9356dc;
  transform: scale(1.02);
}
.filter__title:hover i {
  color: #9356dc;
}
@media screen and (min-width: 1200px) {
  .filter__title {
    width: 29%;
  }
}

.restaurants {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  justify-content: space-evenly;
  row-gap: 20px;
  /*entre les 2 lignes */
  background-color: #f2f2f2;
  font-size: 16px;
  padding-bottom: 70px;
}
.restaurants h2 {
  display: flex;
  width: 100%;
  padding-top: 30px;
  padding-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.card {
  display: flex;
  position: relative;
  height: 100%;
  /*la carte occupe toute la largeur du conteneur a=href */
  min-height: 200px;
  width: 85%;
  box-shadow: 0 0 10px gray;
  /*bordure shadow gris plus foncé*/
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 15px;
  font-size: 12px;
}
.card img {
  display: flex;
  width: 100%;
  max-height: 210px;
  height: 75%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.card__new {
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 8px 14px;
  margin: 0;
  color: #278870;
  font-size: 16px;
  font-weight: bold;
  background-color: #99e2d0;
  border-radius: 2px;
}
@media screen and (min-width: 1200px) {
  .card {
    width: 45%;
  }
}

.card__text {
  display: flex;
  height: 75px;
  padding-left: 15px;
  padding-right: 25px;
  justify-content: space-between;
  align-items: center;
  /*Le coeur est centré selon axe secondaire, justify-content: axe primaire*/
}
.card__text h3 {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 15px;
}
.card__text p {
  margin-top: 3px;
  margin-bottom: 4px;
  font-size: 15px;
}

footer {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 60px;
  background: #44464a;
}
footer i {
  padding-right: 10px;
  /* pour séparer les icônes */
}
footer h2 {
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 18px;
  color: white;
}
footer p {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 18px;
  color: white;
}
footer a {
  display: flex;
  /* pour ne pas avoir un lien bleu souligné*/
}
footer a:link {
  color: white;
}

#logo-bottom {
  display: flex;
  margin-bottom: 25px;
  font-size: 30px;
  font-family: Shrikhand;
  color: white;
}

@media screen and (min-width: 1200px) {
  footer {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0;
  }

  .apropos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
}
.picturemenilmontant {
  height: 260px;
  width: 100%;
  background-image: url(../assets/restaurants/menilmontant.jpg);
  background-size: 100%;
  object-fit: cover;
}

.picturecharonne {
  height: 260px;
  width: 100%;
  background-image: url(../assets/restaurants/charonne.jpg);
  background-size: 100%;
  object-fit: cover;
}

.pictureciterouge {
  height: 260px;
  width: 100%;
  background-image: url(../assets/restaurants/citerouge.jpg);
  background-size: 100%;
  object-fit: cover;
}

.picturefoliemericourt {
  height: 260px;
  width: 100%;
  background-image: url(../assets/restaurants/foliemericourt.jpg);
  background-size: 100%;
  object-fit: cover;
}

.title {
  display: grid;
  font-family: Shrikhand;
  background-color: #f2f2f2;
  font-size: 12px;
  border-radius: 30px 30px 0 0;
  padding-left: 30px;
  margin-top: -30px;
  /*pour remonter sur l'image*/
  grid-template-columns: 82% 18%;
  /*2 columns la largeur de la premiere fait que ohmyfood est centré*/
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "h1  .heart ";
  width: 100%;
}
.title i {
  color: #44464a;
  padding-top: 13px;
  align-items: center;
  justify-content: center;
}

.entrees {
  display: flex;
  height: 100%;
  flex-direction: column;
  row-gap: 10px;
  background-color: #f2f2f2;
}
.entrees h2 {
  display: flex;
  margin-left: 30px;
  width: 20%;
  /*  pour créer un trait vert plus court car sinon dépasse et est à 20%  https://qastack.fr/programming/8572952/border-length-smaller-than-div-width*/
}
.entrees h2:before {
  content: "";
  display: flex;
  width: 70px;
  height: 30px;
  position: absolute;
  border-bottom: #99e2d0 solid 3px;
}

.plats {
  display: flex;
  height: 100%;
  flex-direction: column;
  row-gap: 10px;
  background-color: #f2f2f2;
}
.plats h2 {
  display: flex;
  margin-left: 30px;
  width: 20%;
  /*  pour créer un trait vert plus court car sinon dépasse et est à 20%  https://qastack.fr/programming/8572952/border-length-smaller-than-div-width*/
}
.plats h2:before {
  content: "";
  display: flex;
  width: 70px;
  height: 30px;
  position: absolute;
  border-bottom: #99e2d0 solid 3px;
}

.desserts {
  display: flex;
  height: 100%;
  flex-direction: column;
  row-gap: 10px;
  background-color: #f2f2f2;
}
.desserts h2 {
  display: flex;
  margin-left: 30px;
  width: 20%;
  /*  pour créer un trait vert plus court car sinon dépasse et est à 20%  https://qastack.fr/programming/8572952/border-length-smaller-than-div-width*/
}
.desserts h2:before {
  content: "";
  display: flex;
  width: 70px;
  height: 30px;
  position: absolute;
  border-bottom: #99e2d0 solid 3px;
}

.foodcard {
  display: flex;
  width: 85%;
  height: 60px;
  background-color: #fff;
  border-radius: 15px;
  font-size: 12px;
  box-shadow: 0 0 10px #ccc;
  margin-bottom: 20px;
  justify-content: space-between;
  transform: scaleY(0);
  transform-origin: top;
}
.foodcard__text {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-bottom: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.foodcard__text h3 {
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}
.foodcard__text p {
  display: inline;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 0px;
}
.foodcard__price {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  margin-left: auto;
  /*permet de rejeter prix vars la droite */
  padding-left: 10px;
  padding-top: 34px;
  padding-right: 15px;
}
.foodcard__check {
  display: flex;
  width: 0;
  border-radius: 0 15px 15px 0;
  background-color: #99e2d0;
  visibility: hidden;
}
.foodcard__check i {
  align-items: center;
  display: flex;
  margin-left: 42%;
  font-size: 20px;
  color: white;
}

.entrees__foodcards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plats__foodcards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desserts__foodcards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes loading-menus {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.entrees .foodcard {
  animation: loading-menus 600ms;
  animation-fill-mode: forwards;
  /*garde les propriétés css de fin de l'animation  */
}

.plats .foodcard {
  animation: loading-menus 300ms;
  animation-delay: 600ms;
  animation-fill-mode: forwards;
}

.desserts .foodcard {
  animation: loading-menus 200ms;
  animation-delay: 900ms;
  animation-fill-mode: forwards;
}

.entrees a:hover .foodcard__check {
  display: flex;
  visibility: visible;
  width: 70px;
  transition: all 500ms;
}
.entrees a:hover .foodcard__check i {
  display: flex;
  transform: rotate(-360deg);
  transition: all 800ms;
}

.plats a:hover .foodcard__check {
  display: flex;
  visibility: visible;
  width: 70px;
  transition: all 500ms;
}
.plats a:hover .foodcard__check i {
  display: flex;
  transform: rotate(-360deg);
  transition: all 800ms;
}

.desserts a:hover .foodcard__check {
  display: flex;
  visibility: visible;
  width: 70px;
  transition: all 500ms;
}
.desserts a:hover .foodcard__check i {
  display: flex;
  transform: rotate(-360deg);
  transition: all 800ms;
}

.order {
  display: flex;
  width: 100%;
  padding-top: 40px;
  justify-content: center;
  height: 170px;
  background-color: #f2f2f2;
}

@media screen and (min-width: 1200px) {
  .foodcard {
    width: 30%;
  }

  .entrees__foodcards {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .plats__foodcards {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .desserts__foodcards {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
}

/*# sourceMappingURL=style.css.map */
