

.logo {
  display: grid;
  font-family: Shrikhand;
  font-size: 45px;
  grid-template-columns: calc(50% - 2.7*45px) 70%; /*2 columns la largeur de la premiere fait que ohmyfood est centré*/
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "fas  logo__text ";
}
