.picturemenilmontant {
  height: 260px;
  width: 100%;
  background-image: url(../assets/restaurants/menilmontant.jpg);
  background-size: 100%;
  object-fit: cover;
}

.picturecharonne {
  height: 260px;
  width: 100%;
  background-image: url(../assets/restaurants/charonne.jpg);
  background-size: 100%;
  object-fit: cover;
}

.pictureciterouge {
  height: 260px;
  width: 100%;
  background-image: url(../assets/restaurants/citerouge.jpg);
  background-size: 100%;
  object-fit: cover;
}

.picturefoliemericourt {
  height: 260px;
  width: 100%;
  background-image: url(../assets/restaurants/foliemericourt.jpg);
  background-size: 100%;
  object-fit: cover;
}

.title {
  display: grid;
  font-family: Shrikhand;
  background-color: $clear-grey;
  font-size: 12px;
  border-radius: 30px 30px 0 0;
  padding-left: 30px;
  margin-top: -30px; /*pour remonter sur l'image*/
  grid-template-columns: 82% 18%; /*2 columns la largeur de la premiere fait que ohmyfood est centré*/
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "h1  .heart ";
  width: 100%;
  i {
    color: $silver-grey;
    padding-top: 13px;
    align-items: center;
    justify-content: center;
  }
}

@mixin commonthreesections {
  display: flex;
  height: 100%;
  flex-direction: column;
  row-gap: 10px;
  background-color: $clear-grey;
  h2 {
    display: flex;
    margin-left: 30px;
    width: 20%;
    &:before {
      content: "";
      display: flex;
      width: 70px;
      height: 30px;
      position: absolute;
      border-bottom: $tertiary solid 3px;
    } /*  pour créer un trait vert plus court car sinon dépasse et est à 20%  https://qastack.fr/programming/8572952/border-length-smaller-than-div-width*/
  }
}

.entrees {
  @include commonthreesections;
}
.plats {
  @include commonthreesections;
}
.desserts {
  @include commonthreesections;
}

$cardheight: 60px;

.foodcard {
  display: flex;
  width: 85%;
  height: $cardheight;
  background-color: #fff;
  border-radius: 15px;
  font-size: 12px;
  box-shadow: 0 0 10px #ccc;
  margin-bottom: 20px;
  justify-content: space-between;
  transform: scaleY(0);
  transform-origin: top;

  &__text {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-bottom: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    h3 {
      display: inline;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 5px;
    }
    p {
      display: inline;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      margin-top: 0px;
    }
  }

  &__price {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    margin-left: auto; /*permet de rejeter prix vars la droite */
    padding-left: 10px;
    padding-top: 34px;
    padding-right: 15px;
  }

  &__check {
    display: flex;
    width: 0;
    border-radius: 0 15px 15px 0;
    background-color: $tertiary;
    visibility: hidden;
    i {
      align-items: center;
      display: flex;
      margin-left: 42%;
      font-size: 20px;
      color: white;
    }
  }
}

@mixin flexcolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entrees__foodcards {
  @include flexcolumn;
}

.plats__foodcards {
  @include flexcolumn;
}

.desserts__foodcards {
  @include flexcolumn;
}

@keyframes loading-menus {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
$duration: 600ms;

.entrees .foodcard {
  animation: loading-menus $duration;
  animation-fill-mode: forwards; /*garde les propriétés css de fin de l'animation pr que la carte reste ouverte à scale 1  */
}

.plats .foodcard {
  animation: loading-menus calc($duration/2);
  animation-delay: $duration;
  animation-fill-mode: forwards;
}

.desserts .foodcard {
  animation: loading-menus calc($duration/3);
  animation-delay: calc($duration * 1.5);
  animation-fill-mode: forwards;
}

@mixin animationcheck {
  a:hover .foodcard {
    &__check {
      display: flex;
      visibility: visible;
      width: 70px;
      transition: all 500ms;
      i {
        display: flex;
        transform: rotate(-360deg);
        transition: all 800ms;
      }
    }
  }
}

.entrees {
  @include animationcheck;
}
.plats {
  @include animationcheck;
}
.desserts {
  @include animationcheck;
}

.order {
  display: flex;
  width: 100%;
  padding-top: 40px;
  justify-content: center;
  height: 170px;
  background-color: $clear-grey;
}

@media screen and (min-width: 1200px) {
  .foodcard {
    width: 30%;
  }
  .entrees__foodcards {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .plats__foodcards {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  .desserts__foodcards {
    
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
}
