.picturemenilmontant {
  height: 260px;
  width: 100%;
  background-image: url(../assets/restaurants/menilmontant.jpg);
  background-size: 100%;
  object-fit: cover;
}

.picturecharonne {
  height: 260px;
  width: 100%;
  background-image: url(../assets/restaurants/charonne.jpg);
  background-size: 100%;
  object-fit: cover;
}

.pictureciterouge {
  height: 260px;
  width: 100%;
  background-image: url(../assets/restaurants/citerouge.jpg);
  background-size: 100%;
  object-fit: cover;
}

.picturefoliemericourt {
  height: 260px;
  width: 100%;
  background-image: url(../assets/restaurants/foliemericourt.jpg);
  background-size: 100%;
  object-fit: cover;
}

.title {
  display: grid;
  font-family: Shrikhand;
  font-size: 12px;
  padding-left: 30px;
  grid-template-columns: 82% 18%; /*2 columns la largeur de la premiere fait que ohmyfood est centré*/
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "h1  .heart ";
  width: 100%;
  i {
    color: $silver-grey;
    padding-top: 13px;
    align-items: center;
    justify-content: center;
  }
}

.section-menus {
  display: flex;
  height: 100%;
  flex-direction: column;
  row-gap: 10px;
  border-radius: 30px 30px 0 0;
  position: relative;
  top: -25px;
  background-color: $clear-grey;
  h2 {
    display: flex;
    margin-left: 30px;
    width: 20%;

    &:before {
      content: "";
      display: flex;
      width: 70px;
      height: 30px;
      position: absolute;
      border-bottom: $tertiary solid 3px;
    } /*  pour créer un trait vert plus court car sinon dépasse et est à 20%  https://qastack.fr/programming/8572952/border-length-smaller-than-div-width*/
  }
}

$cardheight: 60px;

.foodcard {
  display: grid;
  width: 85%;
  height: $cardheight;
  background-color: #fff;
  grid-gap: 0px;
  border-radius: 15px;
  font-size: 12px;
  grid-template-columns: 80% 20%;
  grid-template-rows: 33% 33% 36%;
  box-shadow: 0 0 10px #ccc;
  margin-bottom: 20px;
  transform: scaleY(0);
  transform-origin: top;

  &__text {
    padding-left: 20px;
    grid-column: 1 / 1;
    grid-row: 1 / 3;
    padding-bottom: 10px;
    
    h3 {
      margin-bottom: 5px;
    }
    p {
      margin-top: 0px;
      text-overflow: ellipsis;
    }
  }

  &__price {
    font-weight: bold;
    grid-column: 2 / 2;
    grid-row: 2;
    padding-left: 30px;
    padding-top: 17px;
       
  }

  &__check {
    display: flex;
    grid-column: 2 / 2;
    grid-row: 1 / 4;
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 0 15px 15px 0;
    background-color: $tertiary;
    transform: scaleX(0); /*scale0 donc inexistant */
    transform-origin: 100% 0%; /*démarre depuis la droite */
    i {
      align-items: center;
      display: flex;
      margin-left: 42%;
      font-size: 20px;
      color: white;
    }
  }
}

.entrees__foodcards,
.plats__foodcards,
.desserts__foodcards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes loading-menus {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
$duration: 600ms;

.entrees .foodcard {
  animation: loading-menus $duration;
  animation-fill-mode: forwards; /*garde les propriétés css de fin de l'animation  */
}

.plats .foodcard {
  animation: loading-menus calc($duration/2);
  animation-delay: $duration;
  animation-fill-mode: forwards;
}

.desserts .foodcard {
  animation: loading-menus calc($duration/3);
  animation-delay: calc($duration * 1.5);
  animation-fill-mode: forwards;
}

.section-menus a:hover .foodcard {
  &__check {
    display: flex;
    transform: scaleX(1);
    transition: all 500ms;

    i {
      display: flex;
      transform: rotate(-360deg);
      transition: all 800ms;
    }
  }
  &__price {
    display: flex;
    transform: translate(-70px);
    transition: all 500ms;
    text-overflow: ellipsis;
    
  }
}

.order {
  display: flex;
  width: 100%;
  padding-top: 40px;
  justify-content: center;
  height: 170px;
}

@media screen and (min-width: 1500px) {
  .section-menus {
    flex-wrap: wrap;
    flex-direction: row;

    .entrees,.plats,.desserts {width: 33%}
  }

  
}
